/*table {*/
/*width: 2000px;*/
/*}*/

table {
    display: block;
    overflow: auto;
    overflow-y: auto;
    max-width: 100%;
    max-height: 850px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
thead  {
    position: sticky;
    top: 0;
    background: #afd9ee;
}

body {
    font-family: Raleway,sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #2f373c;
    background-color: #f5f8fa;
}

/*.edit input {*/
    /*display: none;*/
/*}*/